@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #F7F9FB;
  }
}

@theme {
    --bg-color: #fff;
    --bg-main-color: #F7F9FB;
    --primary-color: #25B85D;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@layer components {
  .card-border {
    @apply bg-(--bg-color) rounded-xl border p-3 sm:p-6 border-gray-200 flex 
    justify-between shadow-sm hover:-translate-y-1 transition-all
  }

  .percentage-bar {
    @apply w-full h-10 rounded-full border-2 border-gray-200 bg-gray-100
  }

  .th-style {
    @apply px-4 py-4 text-left text-sm font-semibold text-gray-500 bg-gray-200
  }
}